*{
    box-sizing: border-box;
    margin: 0;
    padding: 0%;
}

body{
    background: gray;
}

.fa-bars{
    position: fixed;
    top: 30px;
    right: 45px;
    font-size: 30px;
    color: coral;
    cursor: pointer;
}

.sidebars{
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    height: 100%;
    width: 500px;
    transform: translate(-100);
    
}
.sidebarheader{
    text-align: right;
    padding: 16px;

}

.fa-regular{
    color: brown;
    font-size: 40px;
    padding: 15px;
}

.showSidebar {
    transform: translate(0%);
}
.menu a{
    text-decoration: none;
    color: gray;
    font-size: 24px;
    padding: 16px 24px;
    display: block;

}

.menu a:hover {
    background: coral;
    color: white;
    padding-left: 40px;

}

@media (max-width:768px){
    .sidebars{
        width: 100%;
    }
}


