*{
    box-sizing: border-box;
    margin: 0;

}

body{
    background: gray;

}

.fa-bars{
    position: fixed;
    top: 43px;
    right: 53px;
    font-size: 30px;
    color: coral;
    cursor: pointer;
}

.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    background: white;
    height: 100%;
    width: 500px;
    transform: translate(0%);
}
.sidebarheader{
    text-align: right;
    padding: 16px;
    font-size: 30px;
   
}


.menu a{
    text-decoration: none;
    color: gray;
    font-size: 40px;
    padding: 16px 24px;
    display: block;

}

.menu a:hover{
    background: coral;
    color: white;
    padding-left: 40px;
}

.showSideBar{
    transform: translate(0%);
}
